#n: train-length
n/6

#w: list of wagon types, each name,length
w/GE open,1/GE low,1/GE 7plank,1/GE van,1/MR open,1/MR low,1/MR van,1/LNWR open,1/LSWR open,1/PO,1/GE bolster,2

#r: rake of wagons in fiddle yard if no corresponding state file
#   each wagon is an index into the above list
r/6/2/3/9/0/5
r/5/0/4/1/0/0

#i: set of wagons to be distributed round sidings if no corresponding state file
#   each wagon is an index into the above list
i/3/8/0/7/1/9/0/10
